@import "./code.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.markdown > * {
  all: revert;
}

@layer base {

    :root {
      --color-primary: 247 147 34;
      --color-primary-light: 247 204 154;
      --color-text: 0 0 30;
      /* --color-text: 245 255 255; */
      --color-success: 0 200 81;
      --color-info: 51 181 229;
      --color-warn: 255 187 51;
      --color-error: 254 78 78;
    }
  
    :root[class~="dark"] {
      --color-primary: 247 147 34;
      --color-primary-light: 247 204 154;
      --color-text: 245 255 255;
      --color-success: 0 200 81;
      --color-info: 51 181 229;
      --color-warn: 255 187 51;
      --color-error: 254 78 78;
    }
  } 